<div class="modal-header">
  <h5 class="modal-title pull-left">Alterar atividade</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="fechar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #atividadeForm="ngForm">
    <div class="form-group">
      <input type="text" class="form-control" required placeholder="Descrição" [(ngModel)]="atividade.descricao" name="descricao" />
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-secondary" (click)="fechar()">Cancelar</button>
  <button type="button" class="btn btn-sm btn-primary" [disabled]="atividadeForm.invalid" (click)="alterar()">Alterar</button>
</div>