<div class="container-atividades">

    <div class="d-flex justify-content-center" *ngIf="carregando">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div  *ngIf="atividades.length == 0 && !carregando">
        <h3>Nenhuma atividade cadastrada</h3>
    </div>

    <div *ngIf="atividades.length > 0">
        <h3>Atividades</h3>

        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let atividade of atividades">
                {{atividade.descricao}}

                <button type="button" class="btn btn-danger list-group-item-action__botao btn-sm" (click)="excluir(atividade.id, atividade.descricao)">Excluir</button>
                <button type="button" class="btn btn-primary list-group-item-action__botao primeiro btn-sm" (click)="alterar(atividade.id, atividade.descricao)">Alterar</button>
            </li>
        </ul>
    </div>
</div>