.container-atividades {
    margin-top: 20px;
}

.list-group {
    vertical-align: text-bottom;
}

.list-group-item-action {
    &__botao {
        float: right;
    }
}

.primeiro {
    margin-right: 10px;
}