<div class="container-atividades">

    <div  *ngIf="atividades.length == 0">
        <h3>Nenhuma atividade cadastrada</h3>
    </div>

    <div *ngIf="atividades.length > 0">
        <h3>Atividades</h3>

        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let atividade of atividades">
                {{atividade.descricao}}

                <button type="button" class="btn btn-danger list-group-item-action__botao btn-sm" (click)="modalExcluir(excluir, atividade.id, atividade.descricao)">Excluir</button>
                <button type="button" class="btn btn-primary list-group-item-action__botao primeiro btn-sm" (click)="modalAlterar(alterar, atividade.id, atividade.descricao)">Alterar</button>
            </li>
        </ul>
        
        <ng-template #excluir>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Excluir atividade</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja excluir "{{descricaoAtividadeParaExcluir}}"?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="excluirAtividade()">Excluir</button>
            </div>
        </ng-template>

        <ng-template #alterar>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Alterar atividade</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="alterarAtividade(descricaoAtividadeParaAlterar)" #atividadeForm="ngForm">

                    <div class="form-group">
                        <input class="form-control" placeholder="Descrição" [(ngModel)]="descricaoAtividadeParaAlterar" name="descricao" />
                    </div>
                    <div class="float-right">
                        <button class="btn btn-success" type="submit">Alterar</button>
                    </div>
                </form>
            </div>
        </ng-template>
        
    </div>
</div>